services:
    -
        class: Pierresh\PhpStanPdoMysql\SqlLinter\SqlFtwAdapter
        autowired: true
    -
        class: Pierresh\PhpStanPdoMysql\Rules\ValidatePdoSqlSyntaxRule
        tags:
            - phpstan.rules.rule
    -
        class: Pierresh\PhpStanPdoMysql\Rules\ValidatePdoParameterBindingsRule
        tags:
            - phpstan.rules.rule
    -
        class: Pierresh\PhpStanPdoMysql\Rules\ValidateSelectColumnsMatchPhpDocRule
        tags:
            - phpstan.rules.rule
    -
        class: Pierresh\PhpStanPdoMysql\Rules\DetectSelfReferenceConditionsRule
        tags:
            - phpstan.rules.rule
